<h4>isNotAsked, isInProgress, isSuccess, isFailure</h4>
<div class="row">
  <div class="col s4">
    <form [formGroup]="radiogroupForm">
      <p>
        <label>
          <input
            formControlName="testDataRadioGroup"
            type="radio"
            value="notAsked"
            [checked]="true"
          />
          <span>NotAsked</span>
        </label>
      </p>
      <p>
        <label>
          <input
            formControlName="testDataRadioGroup"
            type="radio"
            value="inProgress"
          />
          <span>InProgress</span>
        </label>
      </p>
      <p>
        <label>
          <input
            formControlName="testDataRadioGroup"
            type="radio"
            value="success"
          />
          <span>Success</span>
        </label>
      </p>
      <p>
        <label>
          <input
            formControlName="testDataRadioGroup"
            type="radio"
            value="failure"
          />
          <span>Failure</span>
        </label>
      </p>
    </form>
  </div>
  <div class="col s8">
    <!-- NotAsked -->
    <h5 *ngIf="(testData$ | async | isNotAsked)">Not Asked</h5>
    <!-- InProgress -->
    <div *ngIf="(testData$ | async | isInProgress)" class="progress">
      <div class="indeterminate"></div>
    </div>
    <!-- Success -->
    <h5 *ngIf="(testData$ | async | isSuccess)" class="green">
      Success({{ testData$ | async | successValue }})
    </h5>
    <!-- Failure -->
    <h5 *ngIf="(testData$ | async | isFailure)" class="red">
      Failure({{ testData$ | async | failureValue }})
    </h5>
  </div>
</div>

<h4>anyIsInProgress</h4>
<div class="row">
  <div class="col s4">
    <form [formGroup]="checkboxForm">
      <p>
        <label>
          <input type="checkbox" formControlName="check1" />
          <span>InProgress</span>
        </label>
      </p>
      <p>
        <label>
          <input type="checkbox" formControlName="check2" />
          <span>InProgress</span>
        </label>
      </p>
      <p>
        <label>
          <input type="checkbox" formControlName="check3" />
          <span>InProgress</span>
        </label>
      </p>
    </form>
  </div>
  <div class="col s8">
    <div
      *ngIf="([inProgress1$, inProgress2$, inProgress3$] | anyIsInProgress)"
      class="progress"
    >
      <div class="indeterminate"></div>
    </div>
    <h5 *ngIf="!([inProgress1$, inProgress2$, inProgress3$] | anyIsInProgress)">
      Not InProgress
    </h5>
  </div>
</div>
