<!-- Not Asked -->
<div *ngIf="(catImage$ | async | isNotAsked)">
  Get a random cat image<br />
  <button
    type="button"
    class="waves-effect waves-light btn-large"
    (click)="meow()"
  >
    <i class="material-icons right">photo</i>Meow!
  </button>
</div>

<!-- InProgress -->
<div class="progress" *ngIf="(catImage$ | async | isInProgress)">
  <div class="indeterminate"></div>
</div>

<!-- Success -->
<div *ngIf="(catImage$ | async | isSuccess)">
  <div class="row">
    <div class="col s4">
      Get another one<br />
      <a class="waves-effect waves-light btn-large" (click)="meow()"
        ><i class="material-icons right">photo</i>Meow!</a
      >
    </div>
    <div class="col s4">
      Get a failure<br />
      <a
        class="waves-effect waves-light red lighten-1 btn-large"
        (click)="meowFail()"
        ><i class="material-icons right">sentiment_very_dissatisfied</i>Ouch!</a
      >
    </div>
  </div>
  <img
    style="margin-top: 10px"
    class="responsive-img"
    [src]="(catImage$ | async | successValue).file"
  />
</div>

<!-- Failure -->
<div *ngIf="(catImage$ | async | isFailure)">
  Try again<br />
  <button
    type="button"
    class="waves-effect waves-light btn-large"
    (click)="meow()"
  >
    <i class="material-icons right">photo</i>Meow!
  </button>
  <br />
  <div class="card-panel red lighten-1">
    {{ catImage$ | async | failureError }}
  </div>
</div>
